@page
@model NotificationBot.Pages.IndexModel
@{
    ViewData["Title"] = "HomePage";
}
<div class="text-center">
    <h1>
        Go to <a href="/swagger/index.html">swagger</a> to start test calling Apis<br/>
    </h1>
</div>
